@font-face {
    font-family: 'tamalesregular';
    src: url('../fonts/tamales/tamalesreg_free_for_personal_use-webfont.eot');
    src: url('../fonts/tamales/tamalesreg_free_for_personal_use-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tamales/tamalesreg_free_for_personal_use-webfont.woff') format('woff'),
         url('../fonts/tamales/tamalesreg_free_for_personal_use-webfont.woff2') format('woff2'),
         url('../fonts/tamales/tamalesreg_free_for_personal_use-webfont.ttf') format('truetype'),
         url('../fonts/tamales/tamalesreg_free_for_personal_use-webfont.svg#tamalesregular') format('svg');

    font-weight: normal;
    font-style: normal;
} 


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

$font-jennasue: 'tamalesregular';

